name: Kali Linux Web VNC (LXDE)

on:
  workflow_dispatch:

jobs:
  kali-web:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
    - name: Update system
      run: sudo apt update

    - name: Install LXDE + VNC + noVNC
      run: |
        sudo apt install -y \
          lxde-core lxde-common lxsession \
          tightvncserver dbus-x11 \
          novnc websockify xterm

    - name: Create user
      run: |
        sudo useradd -m kali
        echo "kali:kali123" | sudo chpasswd
        sudo adduser kali sudo

    - name: Fix permissions
      run: sudo chown -R kali:kali /home/kali

    - name: Setup VNC
      run: |
        sudo -u kali mkdir -p /home/kali/.vnc
        echo -e "kali123\nkali123\n" | sudo -u kali vncpasswd

        echo '#!/bin/sh
        unset SESSION_MANAGER
        unset DBUS_SESSION_BUS_ADDRESS
        exec dbus-launch --exit-with-session startlxde &' \
        | sudo tee /home/kali/.vnc/xstartup

        sudo chmod +x /home/kali/.vnc/xstartup
        sudo chown -R kali:kali /home/kali/.vnc

    - name: Start VNC
      run: |
        sudo -u kali vncserver -kill :1 || true
        sudo -u kali vncserver :1 -localhost no -geometry 1280x720

    - name: Start noVNC
      run: |
        websockify --web=/usr/share/novnc/ 6080 localhost:5901 &

    - name: Install Cloudflared
      run: |
        wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
        sudo mv cloudflared-linux-amd64 /usr/local/bin/cloudflared
        sudo chmod +x /usr/local/bin/cloudflared

    - name: Expose Web Desktop
      run: cloudflared tunnel --url http://localhost:6080
